<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <order_status>
                <enabled>1</enabled>
                <api_token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </order_status>

            <VidaXl_order_status>
                <enabled>1</enabled>
                <api_token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </VidaXl_order_status>
        </sales>
    </default>
</config>
